* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: #afa27d;
}

                                                                /*HEADER*/
.header {
    background-color: #eac151;
    width: 100%;
}
.header_body {
    width: 1100px;
    margin: 0 auto;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_logo {
    
}
.header_menu {
    display: flex;
}
.header_menu-link {
    margin-left: 30px;
    
}
.header_menu-link a{
    color: #8f0707;
    font-size: 20px;
    font-weight: 600;
    text-shadow: 0 0 13px #5b0b0b;
    transition: 0.4s;
}
.header_menu-link a:hover{
    text-decoration: overline;
    color: #af2525;
}

                                                        /*MAIN*/
.main {
    background: url(./img/Snorlax\ by\ TheGreatDawn\ on\ DeviantArt.jpeg);
    background-size: cover;
    border-radius: 17px;
    width: 700px;
    height: 400px;
    margin: 0 auto;
    margin-top: 80px;
    text-align: center;
    padding: 20px;
    border: 2px solid #0f2e68;
    box-shadow: 0 0 20px #091e45b0;
}
.main_titel{
    font-size: 23px;
    color: aliceblue;
    text-shadow: 0 0 12px #1b1443;
}
.main-box {
    padding: 30px;
    margin: 0 auto;
    width: 600px;
    height: 300px;
    background-color: #8c91e15e;
}
.main-box_1 {
    padding: 20px;
    display: flex;
    justify-content: center;
}
.main-box_label-1 {
    color: #221744;
    font-family: 'Rubik', sans-serif;
}
.main-box_input-1 {
    background: transparent;
    outline: none;
    border: 0;
    border-bottom: 2px solid #231543;
}
.main-box_img-1{
    width: 30px;
    height: 30px;
}

.main-box_2 {
    padding: 20px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
}
.main-box_label-2 {
    color: #221744;
    font-family: 'Rubik', sans-serif;
    
}
.main-box_input-2 {
    background: transparent;
    outline: none;
    border: 0;
    border-bottom: 2px solid #231543;
}
.main-box_img-2{
    width: 30px;
    height: 30px;
}

/***************************Check Box***************************/
.check-box {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    
}
.check-box_label {
    font-family: 'Rubik', sans-serif;
    transition: 0.3s;
}
.check-box_label:hover{
    color: #884814;
    text-shadow: 0 0 8px #ff7809;
}
.check-box_input {
    
}

/*******************Forgot Password*******************/
.check-box_link {
    font-family: 'Rubik', sans-serif;
    color: #120f52;
    transition: 0.3s;
}
.check-box_link:hover{
    color: #875a16;
    text-shadow: 0 0 8px #d58010;
}

/***************************Button***************************/
.main-button {

}
.main-button_icon{
    color: #d4dcec;
    width: 100px;
    height: 30px;
    background-color: rgb(17, 7, 57);
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.main-button_icon:hover{
    background-color: #3e39ad;
}

/***************************Register***************************/
.main-box_register {
    display: flex;
    justify-content: center;
    padding: 10px;
    
}
.main-box_text {
}
.main-box_input {
    font-weight: 800;
    color: #140a2a;
}